
.top-nav{
    display: flex;
    background: rgb(50, 104, 168);
    justify-content: space-between;
}


.container{
    display: flex;
}

.headerImg{
    height: 55px;
    width:5%;
    margin-right: 10px;   
    margin-top: 10px;
}

.name{
    margin-top: 15px;
    font-style: monospace;
    font-size: 27px;
    font-weight: 400;
    color: antiquewhite
}

.link{
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    font-style: monospace;
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;

}

.link:hover{
    color: antiquewhite;
    cursor: pointer;

}